@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Student Success Centre</h1>
    <p class="lead">Nexus of student enrollment and enrichment.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>@Html.ActionLink("Class List", "ClassOfferingsPage")</h2>
        <p>
            See class listings
        </p>
        <!--<p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    --></div>
    <div class="col-md-4">
        <h2>Your Enrolled Classes</h2>
        <p>View your class schedule</p>
        <!--<p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    --></div>
    <div class="col-md-4">
        <h2>Enroll in a Class</h2>
        <p>Take a new class</p>
        <!--<p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    --></div>
</div>