@model BirthdayCard2.Models.CardData
<link href="~/Content/bootstrap.css" rel="stylesheet" />
<style>
    .btn a {
        color: white;
        text-decoration: none;
    }

    body {
        background-color: #f1f1f1;
    }
</style>

@using (Html.BeginForm())
{
    @Html.ValidationSummary()
    <p>To: @Html.TextBoxFor(x => x.Recipient)</p>
    <p>From: @Html.TextBoxFor(x => x.Sender)</p>
    <p>Message: @Html.TextBoxFor(x => x.Message)</p>

    <input class="btn btn-success" type="submit" value="Send Card" />
}