<link href="~/Content/bootstrap.css" rel="stylesheet" />
<style>
    .btn a {
        color: white;
        text-decoration: none;
    }

    body {
        background-color: #f1f1f1;
    }
</style>

<body>
    <p><h1>Send a Birthday Greeting</h1></p>
    
    <div class="btn btn-success">
        @Html.ActionLink("Send a Card", "CardInput")
        </div>
</body>

